.image-container {
  position: relative;
  width: 100%;
  height: auto;
  display: block;
}
.heading {
  position: absolute;
  top: 24%;         
  left: 41%;
  color: #100101;
  font-size: 24px;  
  font-weight: normal;
  z-index: 12;
}
label {
  color: #100101;
  font-size: 24px;      
  position: absolute;
  font-weight: 400;
  z-index: 10;
  display: flex;
  align-items: center;
  gap: 18px;
}
.option1 {
  top: 26%;
  left: 40%;
}

.option2 {
  top: 28%;
  left: 40%;
}

input[type="checkbox"] {
  appearance: none;
  width: 16px;      
  height: 16px;
  border-radius: 12px;
  accent-color: #0a0505;
  cursor: pointer;
  border: 2px solid #170e0e;
}
input[type="checkbox"]:checked {
  background-color: #2e2f00; 
}
